html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Klar semibold";
  src: url("KlarheitGrotesk-Semibold.woff2") format("woff2"), url("KlarheitGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Klar light";
  src: url("KlarheitGrotesk-Light.woff2") format("woff2"), url("KlarheitGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  font-weight: "Klar light";
  font-family: "Klar light";
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: "Klar light";
}

.Button, .shopify-payment-button__button--unbranded, input.spr-button-primary, .spr-summary-actions-newreview, .spr-button-primary:not(input), .spr-pagination-prev > a, .spr-pagination-next > a {
  letter-spacing: normal;
  font-weight: normal;
  line-height: 1;
}

.shopify-challenge__container .shopify-challenge__button {
  border-color: black;
  letter-spacing: normal;
}

.SectionHeader__Heading {
  font-size: 30px !important;
  font-family: "Klar semibold";
}

.custom_buttom {
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px 0;
  height: unset;
}

.White_button {
  text-transform: uppercase;
  padding: 15px 30px;
  border: 1px solid white;
  background: 0;
  color: white;
  font-weight: normal;
  font-size: 14px;
  transition: none;
}
.White_button:before {
  content: none !important;
}
.White_button:hover {
  background: white;
  color: black;
}

.Black_button {
  text-transform: uppercase;
  padding: 15px 30px;
  background: black;
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 14px;
  transition: none;
}
.Black_button:before {
  content: none !important;
}
.Black_button:hover {
  background: 0;
  color: black;
}

.EmptyState__Action {
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1;
}

.RoundButton, .flickity-prev-next-button {
  background: 0;
  color: black;
  box-shadow: none;
}

.shopify-section--bordered > .Section--spacingNormal {
  padding: 0;
}

.Search__Input {
  font-size: 16px;
}

.PageOverlay {
  transition: all 0.3s ease-in-out !important;
  opacity: unset;
  background: rgba(0, 0, 0, 0);
}
.PageOverlay.is-visible {
  background: rgba(0, 0, 0, 0.5);
  opacity: unset;
}

.section_container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.Search__Inner .ProductItem__Info {
  flex-direction: column;
  align-items: center;
}
.Search__Inner .ProductItem__Info .price_spacing {
  display: none;
}
.Search__Inner .ProductItem__Info .product_title, .Search__Inner .ProductItem__Info .product_price {
  font-size: 14px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .heading_big {
    font-family: "Klar semibold";
    font-size: 40px;
    line-height: 1.2;
  }

  .section_header {
    padding: 45px 15px !important;
  }
}
.features--heading-normal .u-h6, .features--heading-normal .Rte h6 {
  font-size: 18px;
}

.Header__MainNav .HorizontalList__Item a {
  font-size: 16px;
}

.Header__Wrapper {
  padding: 30px !important;
  height: var(--header-height);
}

.Header__LinkSpacer {
  display: none;
}

.Header__FlexItem--fill {
  justify-content: center;
}
.Header__FlexItem--fill .HorizontalList__Item {
  margin: 6px 30px;
}

.Header__Icon .Icon--search-desktop {
  width: 18px;
}

.Header__Icon .Icon--cart-desktop {
  width: 20px;
  height: 20px;
}

.Header__Icon + .Header__Icon {
  margin-left: 20px;
}

.Search__Inner {
  padding: 30px;
}

.dropdown_background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 400px;
  top: 85px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.HorizontalList__Item.is-expanded .dropdown_background {
  opacity: 1;
  visibility: visible;
}
.HorizontalList__Item.is-expanded .drop_plus {
  transform: rotate(90DEG);
}

.drop_plus {
  margin-left: 8px;
  position: absolute;
  padding-top: 3px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.DropdownMenu {
  background: 0;
  border: none;
  text-align: left;
}
.DropdownMenu:before {
  content: none;
}
.DropdownMenu .Linklist__Item {
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}
.DropdownMenu .Linklist__Item:before {
  content: none;
}
.DropdownMenu .Linklist__Item:hover, .DropdownMenu .Linklist__Item.active {
  opacity: 1;
}
.DropdownMenu .Link {
  padding: 0;
}

@media screen and (max-width: 640px) {
  .Header__Wrapper {
    padding: 20px 15px !important;
  }

  .Header__LogoLink .Header__LogoImage {
    max-width: 150px;
  }

  .Drawer--fromLeft {
    transform: translateX(-100vw);
  }

  .SidebarMenu {
    width: 100vw;
  }
  .SidebarMenu .SidebarMenu__Nav {
    width: fit-content;
  }
  .SidebarMenu .Drawer__Container {
    padding: 0 15px;
    margin-top: 30px;
  }
  .SidebarMenu .Drawer__Header {
    padding: 20px 15px;
    min-height: unset;
  }
  .SidebarMenu .Collapsible__Button {
    padding: 15px 0;
  }
  .SidebarMenu .Collapsible {
    border: none;
    margin-left: 0;
  }
  .SidebarMenu .Collapsible .Text--subdued {
    padding: 5px 0;
    font-size: 16px;
  }
}
.shopify-section--bordered + .shopify-section--footer {
  border-top: none;
}

.footer_container_wrapper {
  padding: 0 30px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.footer_container {
  display: flex;
  width: 100%;
}

.footer_block {
  width: 25%;
  font-size: 14px;
}
.footer_block .Footer__Title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer_block .Linklist__Item {
  margin-bottom: 12px;
}

.Footer__Aside {
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 25%;
}
.Footer__Aside .Footer__Social {
  margin-top: 0;
  margin-bottom: 15px;
}
.Footer__Aside .Footer__Social .Icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 640px) {
  .footer_container_wrapper {
    padding: 0 15px;
    flex-direction: column;
  }

  .footer_container {
    flex-direction: column;
  }

  .footer_block {
    width: 100%;
    margin-bottom: 30px;
  }

  .Footer__Aside {
    text-align: left;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.Slideshow__Content .SectionHeader__Heading {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
}

.link_hero {
  color: white;
  text-transform: uppercase;
  background: 0;
  border: none;
  border-bottom: 1px solid white;
  padding: 3px 0;
  height: unset;
  text-transform: uppercase;
  font-size: 14px;
}

.Image--contrast::after {
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.35), rgba(54, 54, 54, 0.2));
}

.flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  border-width: 1px;
}

.ProductItem__Wrapper .ProductItem__Info.ProductItem__Info--left {
  display: flex;
  justify-content: center;
}
.ProductItem__Wrapper .ProductItem__Info.ProductItem__Info--left .ProductItem__PriceList .price_spacing {
  margin: 0 5px;
}

.ProductItem__Label {
  border: 1px solid black;
  font-size: 12px;
  line-height: 1;
  padding: 5px 10px;
}

.ProductMeta__Title {
  font-family: "Klar semibold";
  font-size: 30px !important;
}

.ProductForm__AddToCart {
  font-family: "Klar semibold";
  text-transform: uppercase;
  padding: 10px 30px;
  background: black;
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 14px;
  transition: none;
}
.ProductForm__AddToCart:before {
  content: none;
}
.ProductForm__AddToCart:hover {
  background: black;
  color: white;
}

.product_collection {
  font-size: 16px;
}

.ProductForm__Variants label {
  font-size: 16px;
}

.ProductMeta__Price {
  font-size: 16px !important;
}

.ProductMeta__Description .Rte {
  font-size: 16px;
}

.ProductForm__Label {
  font-size: 16px;
}

.ProductForm__BuyButtons button {
  font-family: "Klar light";
}

.QuantitySelector--large .QuantitySelector__CurrentQuantity {
  font-size: 16px;
}

.QuantitySelector button, .QuantitySelector input {
  font-size: 16px;
}

.RoundButton, .flickity-prev-next-button {
  background: #f0f0f0;
}

.RoundButton:not([aria-expanded=true]):hover {
  color: black;
}

.recent_prod_section {
  margin: 150px auto 90px;
}
.recent_prod_section .SectionHeader {
  margin: 60px auto !important;
  padding: 0 30px;
  width: 1200px;
  max-width: 100%;
}

.discover_more {
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
  padding: 10px 30px;
  background: black;
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 14px;
  transition: none;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.discover_more:hover {
  background: white;
  color: black;
}

.custom_product .ProductForm__QuantitySelector {
  display: none !important;
}

@media screen and (max-width: 640px) {
  .product_mobile_heading {
    padding: 20px 15px;
  }
  .product_mobile_heading .ProductMeta__Title {
    line-height: 1;
    margin-top: 5px;
    font-size: 24px !important;
  }

  .Product__Gallery .flickity-page-dots .dot {
    border-color: black;
  }

  .Product__InfoWrapper .Container {
    padding: 0 15px;
  }
  .Product__InfoWrapper .Container .ProductMeta {
    display: none;
  }
  .Product__InfoWrapper .ProductMeta__Description {
    margin-top: 30px;
  }

  .recent_prod_section {
    margin-top: 60px;
  }

  .recent_prod_section .SectionHeader {
    padding: 0 15px !important;
  }
}
.section_header {
  padding: 60px 30px;
  font-size: 16px;
  text-align: center;
}

.flickity-page-dots .dot {
  border: 1px solid white;
}

.collectionListCarousel {
  max-width: 100%;
  margin: 10vw auto;
  margin-top: 0;
  padding-top: 0;
}
.collectionListCarousel .flickity-page-dots .dot {
  border: 1px solid black;
}
.collectionListCarousel .flickity-page-dots .dot.is-selected {
  background: black;
}
.collectionListCarousel .flickity-page-dots {
  margin-top: 60px;
}
.collectionListCarousel .CollectionItem__Wrapper {
  height: 500px;
}

.collection_custom_dida {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.CollectionItem__Image_custom {
  position: relative;
}
.CollectionItem__Image_custom:after {
  display: block;
  content: "";
  padding-bottom: 120%;
}
.CollectionItem__Image_custom img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.CollectionItem__Image_custom .Image--contrast::after {
  content: none !important;
}

.CollectionItem {
  width: 25%;
  min-width: unset;
  margin: 0 20px;
}

@media screen and (max-width: 640px) {
  .CollectionItem {
    width: 70%;
    margin: 0 10px;
  }
}
.Cart .Drawer__Footer, .Cart__OffscreenNoteContainer {
  padding: 30px;
}

.Cart__Taxes {
  font-size: 14px;
  margin-bottom: 16px;
}

.ProductForm__QuantitySelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.ProductForm__QuantitySelector .QuantitySelector {
  border: none;
}

.Drawer__Header {
  padding: 30px;
  min-height: 87px;
}

.CartItem__Title {
  font-size: 16px;
}

.CartItem__Variant {
  font-size: 14px;
  color: grey;
}

.CartItem__Price {
  font-size: 14px;
}

.CartItem__Actions {
  margin-top: 10px;
}

.CartItem__QuantitySelector .QuantitySelector {
  border: unset;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.CartItem__QuantitySelector .QuantitySelector__Button {
  padding: 5px 10px;
}

#sidebar-cart .Drawer__Header {
  padding: 20px 15px !important;
  min-height: unset;
  max-height: unset;
}
#sidebar-cart .Drawer__Container {
  padding: 0 15px;
}
#sidebar-cart .CartItem {
  margin-top: 15px;
}
#sidebar-cart .Cart .Drawer__Footer, #sidebar-cart .Cart__OffscreenNoteContainer {
  padding: 15px;
}

.page-Contatti main {
  min-height: 100vh;
}

.contact_container {
  padding: 30px;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_container .Form__Input, .contact_container .spr-form-input-text, .contact_container .spr-form-input-email, .contact_container .spr-form-input-textarea {
  padding: 10px 0;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
.contact_container .Form__Textarea {
  margin-top: 20px;
  border-color: black;
}
.contact_container .Form__FloatingLabel {
  left: 0;
  padding-left: 0;
}

.contact_button {
  text-decoration: underline;
}

.page_contact_wrapper {
  width: 100%;
}

.custom_contact_container {
  padding: 30px 0;
  padding-top: 0;
  border-bottom: 2px dotted black;
  margin-bottom: 60px;
}

@media screen and (max-width: 640px) {
  .contact_container {
    padding: 30px 15px;
    min-height: unset;
    height: auto;
  }
}
.project_list {
  background: #F3F3F3;
}
.project_list .section_header {
  padding: 60px 30px;
}
.project_list .ArticleListWrapper {
  padding: 0 60px;
}
.project_list .ArticleListWrapper .ArticleList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin-left: 0;
}
.project_list .ArticleListWrapper .ArticleList .Grid__Cell {
  padding: 0;
  width: 100%;
}
.project_list .ArticleItem__Content .ArticleItem__Title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.project_list .ArticleItem__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project_list .ArticleItem__Excerpt {
  text-align: center;
  line-height: 1.3;
}
.project_list .Link--underline {
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 30px;
}
.project_list .Link--underline:before {
  content: none;
}

.ArticleList_archive {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.ArticleList_archive .Grid__Cell {
  padding-left: 0;
}

.ArticleListWrapper_archive {
  padding-bottom: 90px;
}
.ArticleListWrapper_archive .ArticleItem {
  position: relative;
}
.ArticleListWrapper_archive .ArticleItem:hover .ArticleItem__Content {
  opacity: 1;
}
.ArticleListWrapper_archive .ArticleItem__Title {
  font-family: "Klar semibold";
  text-transform: uppercase;
}
.ArticleListWrapper_archive .ArticleItem__Content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.blog__footer {
  display: none;
}

@media screen and (max-width: 640px) {
  .project_list .Container {
    padding: 0;
  }
  .project_list .ArticleItem__Content {
    margin: 0;
  }
  .project_list .ArticleItem__Content .ArticleItem__Title {
    margin: 15px 0;
  }
  .project_list .ArticleItem__Content .Link--underline {
    margin-top: 0;
  }
  .project_list .Grid {
    margin: 0;
  }
  .project_list .ArticleListWrapper {
    padding: 0;
    overflow-x: scroll;
    margin-bottom: 0;
    max-width: 100%;
  }
  .project_list .ArticleListWrapper .ArticleList {
    grid-column-gap: 15px;
    margin-bottom: 0;
    padding: 0 15px;
  }
  .project_list .ArticleListWrapper .ArticleList .Grid__Cell {
    width: 70vw;
  }
  .project_list .ArticleListWrapper .ArticleList .Grid__Cell:last-child {
    margin-right: 15px;
  }

  .Blog .Container {
    padding: 0 15px;
  }

  .ArticleList_archive {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  .ArticleListWrapper_archive {
    padding-bottom: 30px;
  }

  .ArticleItem__ImageWrapper {
    margin-bottom: 0;
  }
}
.inspiration_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inspiration_container {
  columns: 4 200px;
  column-gap: 1rem;
  padding: 1rem;
  border: 10px solid #937d10;
}
.inspiration_container .inspiration_image_container {
  width: 150px;
  background: #F3F3F3;
  color: white;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
}
.inspiration_container .inspiration_image_container:nth-child(1) {
  height: 264px;
  line-height: 264px;
}
.inspiration_container .inspiration_image_container:nth-child(2) {
  height: 193px;
  line-height: 193px;
}
.inspiration_container .inspiration_image_container:nth-child(3) {
  height: 278px;
  line-height: 278px;
}
.inspiration_container .inspiration_image_container:nth-child(4) {
  height: 232px;
  line-height: 232px;
}
.inspiration_container .inspiration_image_container:nth-child(5) {
  height: 303px;
  line-height: 303px;
}
.inspiration_container .inspiration_image_container:nth-child(6) {
  height: 207px;
  line-height: 207px;
}
.inspiration_container .inspiration_image_container:nth-child(7) {
  height: 209px;
  line-height: 209px;
}
.inspiration_container .inspiration_image_container:nth-child(8) {
  height: 383px;
  line-height: 383px;
}
.inspiration_container .inspiration_image_container:nth-child(9) {
  height: 314px;
  line-height: 314px;
}
.inspiration_container .inspiration_image_container:nth-child(10) {
  height: 147px;
  line-height: 147px;
}
.inspiration_container .inspiration_image_container:nth-child(11) {
  height: 349px;
  line-height: 349px;
}
.inspiration_container .inspiration_image_container:nth-child(12) {
  height: 410px;
  line-height: 410px;
}
.inspiration_container .inspiration_image_container:nth-child(13) {
  height: 147px;
  line-height: 147px;
}
.inspiration_container .inspiration_image_container:nth-child(14) {
  height: 224px;
  line-height: 224px;
}
.inspiration_container .inspiration_image_container:nth-child(15) {
  height: 188px;
  line-height: 188px;
}
.inspiration_container .inspiration_image_container:nth-child(16) {
  height: 225px;
  line-height: 225px;
}
.inspiration_container .inspiration_image_container:nth-child(17) {
  height: 338px;
  line-height: 338px;
}
.inspiration_container .inspiration_image_container:nth-child(18) {
  height: 143px;
  line-height: 143px;
}
.inspiration_container .inspiration_image_container:nth-child(19) {
  height: 382px;
  line-height: 382px;
}
.inspiration_container .inspiration_image_container:nth-child(20) {
  height: 428px;
  line-height: 428px;
}
.inspiration_container .inspiration_image_container:nth-child(21) {
  height: 257px;
  line-height: 257px;
}
.inspiration_container .inspiration_image_container:nth-child(22) {
  height: 445px;
  line-height: 445px;
}
.inspiration_container .inspiration_image_container:nth-child(23) {
  height: 423px;
  line-height: 423px;
}
.inspiration_container .inspiration_image_container:nth-child(24) {
  height: 479px;
  line-height: 479px;
}
.inspiration_container .inspiration_image_container:nth-child(25) {
  height: 290px;
  line-height: 290px;
}

.inspiration_section {
  margin-bottom: 60px;
  padding: 0 30px;
}

.featured_inspiration_section .section_header, .featured_inspiration_section .featured_inspiration_footer {
  padding: 60px 0;
  text-align: center;
}
.featured_inspiration_section .featured_link {
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 30px;
}

.featured_inspiration_container {
  display: flex;
  padding: 0 60px;
}
.featured_inspiration_container .featured_inspiration_image_container {
  flex: 1;
  margin-right: 15px;
  position: relative;
}
.featured_inspiration_container .featured_inspiration_image_container:after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.featured_inspiration_container .featured_inspiration_image_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.featured_inspiration_container .featured_inspiration_image_container:last-child {
  margin-right: 0;
}

@media screen and (max-width: 640px) {
  .featured_inspiration_container {
    padding: 0 15px;
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .featured_inspiration_image_container {
    width: 70%;
    min-width: 70%;
  }

  .inspiration_section {
    padding: 0 5px;
    margin-top: 5px;
  }

  .inspiration_container {
    border-width: 5px;
    padding: 10px;
    columns: 2 100px;
  }

  .inspiration_container {
    column-gap: 10px;
  }

  .inspiration_container .inspiration_image_container {
    margin: 0 10px 10px 0;
  }

  .page-Inspirations .PageHeader {
    margin: 30px 0;
  }

  .SectionHeader__Heading {
    font-size: 25px !important;
  }

  .inspiration_image_container:nth-child(1) {
    height: 135px !important;
    line-height: 135px !important;
  }

  .inspiration_image_container:nth-child(2) {
    height: 215px !important;
    line-height: 215px !important;
  }

  .inspiration_image_container:nth-child(3) {
    height: 212px !important;
    line-height: 212px !important;
  }

  .inspiration_image_container:nth-child(4) {
    height: 208px !important;
    line-height: 208px !important;
  }

  .inspiration_image_container:nth-child(5) {
    height: 155px !important;
    line-height: 155px !important;
  }

  .inspiration_image_container:nth-child(6) {
    height: 201px !important;
    line-height: 201px !important;
  }

  .inspiration_image_container:nth-child(7) {
    height: 257px !important;
    line-height: 257px !important;
  }

  .inspiration_image_container:nth-child(8) {
    height: 207px !important;
    line-height: 207px !important;
  }

  .inspiration_image_container:nth-child(9) {
    height: 238px !important;
    line-height: 238px !important;
  }

  .inspiration_image_container:nth-child(10) {
    height: 115px !important;
    line-height: 115px !important;
  }

  .inspiration_image_container:nth-child(11) {
    height: 132px !important;
    line-height: 132px !important;
  }

  .inspiration_image_container:nth-child(12) {
    height: 210px !important;
    line-height: 210px !important;
  }

  .inspiration_image_container:nth-child(13) {
    height: 252px !important;
    line-height: 252px !important;
  }

  .inspiration_image_container:nth-child(14) {
    height: 251px !important;
    line-height: 251px !important;
  }

  .inspiration_image_container:nth-child(15) {
    height: 262px !important;
    line-height: 262px !important;
  }

  .inspiration_image_container:nth-child(16) {
    height: 274px !important;
    line-height: 274px !important;
  }

  .inspiration_image_container:nth-child(17) {
    height: 269px !important;
    line-height: 269px !important;
  }

  .inspiration_image_container:nth-child(18) {
    height: 172px !important;
    line-height: 172px !important;
  }

  .inspiration_image_container:nth-child(19) {
    height: 107px !important;
    line-height: 107px !important;
  }

  .inspiration_image_container:nth-child(20) {
    height: 185px !important;
    line-height: 185px !important;
  }

  .inspiration_image_container:nth-child(21) {
    height: 228px !important;
    line-height: 228px !important;
  }

  .inspiration_image_container:nth-child(22) {
    height: 160px !important;
    line-height: 160px !important;
  }

  .inspiration_image_container:nth-child(23) {
    height: 126px !important;
    line-height: 126px !important;
  }

  .inspiration_image_container:nth-child(24) {
    height: 119px !important;
    line-height: 119px !important;
  }

  .inspiration_image_container:nth-child(25) {
    height: 182px !important;
    line-height: 182px !important;
  }
}
.about_image_section {
  padding: 90px 30px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.about_image_text {
  padding: 60px 0;
  text-align: center;
}

.about_image_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}
.about_image_row .about_image_wrapper {
  background: #F3F3F3;
  position: relative;
  padding-bottom: 100%;
}
.about_image_row .about_image_wrapper img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.TestimonialList {
  padding: 60px 30px;
}
.TestimonialList .flickity-page-dots {
  display: block !important;
  margin-top: 100px !important;
}
.TestimonialList .Testimonial__Logo {
  margin-top: 0;
  margin-bottom: 30px;
}
.TestimonialList .Testimonial__Content {
  font-size: 18px !important;
}

.section_SplitBlock {
  padding: 90px 30px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.section_SplitBlock .FeatureText__ContentWrapper {
  padding: 30px !important;
  background: #ff9672;
  color: white;
  height: 100%;
  text-align: center;
}
.section_SplitBlock .FeatureText__ContentWrapper .FeatureText__Content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: unset;
  margin: unset;
}
.section_SplitBlock .AspectRatio {
  background: #F3F3F3;
}
.section_SplitBlock .split_title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Klar semibold";
}
.section_SplitBlock .split_description {
  margin-bottom: 30px;
}
.section_SplitBlock .split_link {
  margin: 0 auto;
  padding: 10px 10px;
  border: 1px solid white;
  width: 250px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Klar semibold";
}

.top_pattern {
  background-size: contain;
  width: 100%;
}
.top_pattern.pattern_press {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' fill='%23DFEFEE'/%3E%3Cpath d='M40 40L80 1V80L40 40Z' fill='%23B5C4AD'/%3E%3Cpath d='M40 40L0 1V80L40 40Z' fill='%23B6DEDE'/%3E%3C/svg%3E%0A");
  height: 30px;
}
.top_pattern.pattern_projects {
  background-image: url("data:image/svg+xml,%3Csvg width='156' height='84' viewBox='0 0 156 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='156' height='84' fill='%23506786'/%3E%3Cellipse cx='78' cy='51.5' rx='63' ry='29.5' fill='%236683A3'/%3E%3Ccircle cx='78' cy='51' r='28' fill='%23161614'/%3E%3C/svg%3E%0A");
  height: 30px;
}

.page-Press .PageHeader {
  margin: 60px auto !important;
  padding: 0 30px;
  width: 1200px;
  max-width: 100%;
}
.page-Press .SectionHeader__Heading {
  text-align: left;
}

.press_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 90px;
}
.press_container .press_image {
  width: 100%;
}
.press_container .press_image_wrapper {
  background: #F3F3F3;
  position: relative;
  padding-bottom: 100%;
}
.press_container .press_image_wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.press_image_dida {
  padding-top: 10px;
}
.press_image_dida .press_title h2 {
  font-size: 18px;
  margin-top: 10px;
}
.press_image_dida .press_title span {
  font-size: 14px;
}
.press_image_dida .press_info_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.press_image_dida .press_info_container .press_info {
  display: flex;
  font-size: 14px;
}
.press_image_dida .press_info_container .press_info strong {
  font-family: "Klar semibold";
  margin-right: 5px;
}

.ImageHero__ContentOverlay {
  text-shadow: none;
}

.pattern_hero {
  position: absolute;
  width: 100%;
  height: 15px;
  z-index: 2;
}

.pattern_bottom {
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0164022 8H14.9836C14.9945 7.83474 15 7.66801 15 7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5C0 7.66801 0.00552464 7.83474 0.0164022 8Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

.pattern_top {
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9836 1.43393e-09L0.0164015 1.30991e-06C0.00552395 0.165263 -6.70359e-07 0.331987 -6.55671e-07 0.500001C-2.93554e-07 4.64214 3.35786 8 7.5 8C11.6421 8 15 4.64214 15 0.5C15 0.331986 14.9945 0.165262 14.9836 1.43393e-09Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

.section_color_split {
  padding: 90px 30px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.section_color_split .ImageHero {
  width: 50%;
}
.section_color_split .ImageHero__Wrapper {
  width: 50%;
}
.section_color_split .ImageHero__Wrapper .ImageHero__Block {
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: unset;
  margin-top: 0;
  padding: 30px;
}
.section_color_split .ImageHero__Wrapper .ImageHero__Block .ImageHero__BlockContent {
  width: 400px;
  max-width: 100%;
}

.featured_press_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  padding: 90px 30px;
}

.press_dida {
  font-size: 14px;
}
.press_dida h3 {
  font-size: 18px;
}
.press_dida .dida_bottom {
  margin-top: 15px;
}
.press_dida p {
  font-family: "Klar semibold";
}

.featured_press_footer {
  text-align: center;
  padding: 0 30px;
  text-align: center;
}

.featured_link {
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 30px;
}

.featured_press_image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .about_image_section {
    padding: 15px 15px;
  }

  .about_image_text {
    padding: 45px 0;
  }

  .TestimonialList {
    padding: 60px 15px;
  }
  .TestimonialList .Container {
    padding: 0;
  }

  .featured_press_section {
    padding: 60px 0;
  }

  .featured_press_container {
    padding: 0;
    overflow-x: scroll;
    flex-wrap: nowrap;
    grid-column-gap: 15px;
    padding: 0 15px;
    padding-bottom: 60px;
  }
  .featured_press_container .featured_press_card {
    width: 70vw;
    min-width: 70vw;
  }

  .section_SplitBlock {
    padding: 60px 15px;
  }
  .section_SplitBlock .FeatureText--imageLeft {
    flex-direction: column;
  }

  .section_SplitBlock .FeatureText__ContentWrapper {
    padding: 30px 15px !important;
  }

  .press_container {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    padding: 0 15px;
    padding-bottom: 60px;
  }

  .page-Press .PageHeader {
    margin: 30px 0 !important;
    padding: 0 15px;
  }
  .page-Press .PageHeader .SectionHeader__Heading {
    text-align: center;
    font-size: 24px;
  }
}
.Article__container {
  padding: 60px 30px;
  padding-bottom: 90px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.Article__text_container {
  text-align: center;
}

.Article__title {
  font-size: 30px;
  font-family: "Klar semibold";
  margin-bottom: 30px;
}

.Article__Body {
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 800px;
  max-width: 100%;
}

.project_image_grid {
  columns: 3 200px;
  column-gap: 1rem;
}
.project_image_grid .project_image_grid_card {
  background: #F3F3F3;
  color: white;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.Article_info {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 60px;
}
.Article_info p:not(:last-child) {
  margin-right: 5px;
}
.Article_info p span {
  font-family: "Klar semibold";
  padding-left: 5px;
}

@media screen and (max-width: 640px) {
  .Article__container {
    padding: 30px 15px;
  }

  .Article_info {
    flex-wrap: wrap;
  }

  .project_image_grid .project_image_grid_card {
    display: flex;
    margin-bottom: 15px;
  }
}