html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Klar semibold";
  src: url("KlarheitGrotesk-Semibold.woff2") format("woff2"), url("KlarheitGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Klar light";
  src: url("KlarheitGrotesk-Light.woff2") format("woff2"), url("KlarheitGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-weight: "Klar light";
  font-family: "Klar light";
}

h1, h2, h3, h4, h5 {
  font-family: "Klar light";
}

.SectionHeader__Heading {
  font-size: 35px !important;
  font-family: "Klar semibold";
}

.custom_buttom {
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px 0;
  height: unset;
}

.Black_button {
  font-family: "Klar semibold";
  text-transform: uppercase;
  padding: 15px 30px;
  background: black;
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 14px;
  transition: none;
}
.Black_button:before {
  content: none !important;
}
.Black_button:hover {
  background: 0;
  color: black;
}

.RoundButton, .flickity-prev-next-button {
  background: 0;
  color: black;
  box-shadow: none;
}

.shopify-section--bordered > .Section--spacingNormal {
  padding: 0;
}

.Search__Input {
  font-size: 16px;
}

.PageOverlay {
  transition: all 0.3s ease-in-out !important;
  opacity: unset;
  background: rgba(0, 0, 0, 0);
}
.PageOverlay.is-visible {
  background: rgba(0, 0, 0, 0.5);
  opacity: unset;
}

.section_container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .heading_big {
    font-family: "Klar semibold";
    font-size: 40px;
    line-height: 1.2;
  }
}
.HorizontalList__Item a, .features--heading-normal .u-h6, .features--heading-normal .Rte h6 {
  font-size: 16px;
}

.Header__Wrapper {
  padding: 30px !important;
}

.Header__LinkSpacer {
  display: none;
}

.Header__FlexItem--fill {
  justify-content: center;
}
.Header__FlexItem--fill .HorizontalList__Item {
  margin: 6px 30px;
}

.dropdown_background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 400px;
  top: 85px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.HorizontalList__Item.is-expanded .dropdown_background {
  opacity: 1;
  visibility: visible;
}
.HorizontalList__Item.is-expanded .drop_plus {
  transform: rotate(90DEG);
}

.drop_plus {
  margin-left: 8px;
  position: absolute;
  padding-top: 3px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.DropdownMenu {
  background: 0;
  border: none;
  text-align: left;
}
.DropdownMenu:before {
  content: none;
}
.DropdownMenu .Linklist__Item {
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}
.DropdownMenu .Linklist__Item:before {
  content: none;
}
.DropdownMenu .Linklist__Item:hover, .DropdownMenu .Linklist__Item.active {
  opacity: 1;
}
.DropdownMenu .Link {
  padding: 0;
}

.Slideshow__Content .SectionHeader__Heading {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
}

.link_hero {
  color: white;
  text-transform: uppercase;
  background: 0;
  border: none;
  border-bottom: 1px solid white;
  padding: 3px 0;
  height: unset;
  text-transform: uppercase;
  font-size: 12px;
}

.Image--contrast::after {
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.35), rgba(54, 54, 54, 0.2));
}

.flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  border-width: 1px;
}

.ProductItem__Wrapper .ProductItem__Info.ProductItem__Info--left {
  display: flex;
  justify-content: space-between;
}
.ProductItem__Wrapper .ProductItem__Info.ProductItem__Info--left .ProductItem__PriceList {
  margin-left: 15px;
}

.ProductMeta__Title {
  font-family: "Klar semibold";
  font-size: 35px !important;
}

.ProductForm__AddToCart {
  font-family: "Klar semibold";
  text-transform: uppercase;
  padding: 15px 30px;
  background: black;
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 14px;
  transition: none;
}
.ProductForm__AddToCart:before {
  content: none;
}
.ProductForm__AddToCart:hover {
  background: black;
  color: white;
}

.section_header {
  padding: 60px 30px;
  font-size: 16px;
  text-align: center;
}

.collectionListCarousel {
  max-width: 100%;
  margin: 10vw auto;
  margin-top: 0;
  padding-top: 0;
}
.collectionListCarousel .flickity-page-dots .dot {
  border: 1px solid black;
}
.collectionListCarousel .flickity-page-dots .dot.is-selected {
  background: black;
}
.collectionListCarousel .flickity-page-dots {
  margin-top: 60px;
}
.collectionListCarousel .CollectionItem__Wrapper {
  height: 500px;
}

.collection_custom_dida {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.CollectionItem__Image_custom {
  position: relative;
}
.CollectionItem__Image_custom:after {
  display: block;
  content: "";
  padding-bottom: 120%;
}
.CollectionItem__Image_custom img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.CollectionItem__Image_custom .Image--contrast::after {
  content: none !important;
}

.CollectionItem {
  width: 25%;
  min-width: unset;
  margin: 0 20px;
}

.Cart .Drawer__Footer, .Cart__OffscreenNoteContainer {
  padding: 30px;
}

.Cart__Taxes {
  font-size: 12px;
  margin-bottom: 16px;
}

.ProductForm__QuantitySelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.ProductForm__QuantitySelector .QuantitySelector {
  border: none;
}

.page-Contatti main {
  min-height: 100vh;
}

.contact_container {
  padding: 30px;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_container .Form__Input, .contact_container .spr-form-input-text, .contact_container .spr-form-input-email, .contact_container .spr-form-input-textarea {
  padding: 10px 0;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
.contact_container .Form__Textarea {
  margin-top: 20px;
  border-color: black;
}
.contact_container .Form__FloatingLabel {
  left: 0;
  padding-left: 0;
}

.contact_button {
  text-decoration: underline;
}

.page_contact_wrapper {
  width: 100%;
}

.custom_contact_container {
  padding: 30px 0;
  padding-top: 0;
  border-bottom: 2px dotted black;
  margin-bottom: 60px;
}

.project_list {
  background: #F3F3F3;
}
.project_list .section_header {
  padding: 60px 30px;
}
.project_list .ArticleListWrapper {
  padding: 0 60px;
}
.project_list .ArticleItem__Content .ArticleItem__Title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.project_list .ArticleItem__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project_list .ArticleItem__Excerpt {
  text-align: center;
  line-height: 1.3;
}
.project_list .Link--underline {
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 30px;
}
.project_list .Link--underline:before {
  content: none;
}

.ArticleList_archive {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.ArticleList_archive .Grid__Cell {
  padding-left: 0;
}

.ArticleListWrapper_archive {
  padding-bottom: 90px;
}
.ArticleListWrapper_archive .ArticleItem {
  position: relative;
}
.ArticleListWrapper_archive .ArticleItem:hover .ArticleItem__Content {
  opacity: 1;
}
.ArticleListWrapper_archive .ArticleItem__Title {
  font-family: "Klar semibold";
  text-transform: uppercase;
}
.ArticleListWrapper_archive .ArticleItem__Content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.blog__footer {
  display: none;
}

.inspiration_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inspiration_container {
  columns: 4 200px;
  column-gap: 1rem;
  padding: 1rem;
  border: 10px solid #937d10;
}
.inspiration_container .inspiration_image_container {
  width: 150px;
  background: #F3F3F3;
  color: white;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
}
.inspiration_container .inspiration_image_container:nth-child(1) {
  height: 399px;
  line-height: 399px;
}
.inspiration_container .inspiration_image_container:nth-child(2) {
  height: 327px;
  line-height: 327px;
}
.inspiration_container .inspiration_image_container:nth-child(3) {
  height: 321px;
  line-height: 321px;
}
.inspiration_container .inspiration_image_container:nth-child(4) {
  height: 444px;
  line-height: 444px;
}
.inspiration_container .inspiration_image_container:nth-child(5) {
  height: 375px;
  line-height: 375px;
}
.inspiration_container .inspiration_image_container:nth-child(6) {
  height: 357px;
  line-height: 357px;
}
.inspiration_container .inspiration_image_container:nth-child(7) {
  height: 382px;
  line-height: 382px;
}
.inspiration_container .inspiration_image_container:nth-child(8) {
  height: 318px;
  line-height: 318px;
}
.inspiration_container .inspiration_image_container:nth-child(9) {
  height: 149px;
  line-height: 149px;
}
.inspiration_container .inspiration_image_container:nth-child(10) {
  height: 273px;
  line-height: 273px;
}
.inspiration_container .inspiration_image_container:nth-child(11) {
  height: 177px;
  line-height: 177px;
}
.inspiration_container .inspiration_image_container:nth-child(12) {
  height: 280px;
  line-height: 280px;
}
.inspiration_container .inspiration_image_container:nth-child(13) {
  height: 387px;
  line-height: 387px;
}
.inspiration_container .inspiration_image_container:nth-child(14) {
  height: 198px;
  line-height: 198px;
}
.inspiration_container .inspiration_image_container:nth-child(15) {
  height: 262px;
  line-height: 262px;
}
.inspiration_container .inspiration_image_container:nth-child(16) {
  height: 238px;
  line-height: 238px;
}
.inspiration_container .inspiration_image_container:nth-child(17) {
  height: 314px;
  line-height: 314px;
}
.inspiration_container .inspiration_image_container:nth-child(18) {
  height: 153px;
  line-height: 153px;
}
.inspiration_container .inspiration_image_container:nth-child(19) {
  height: 114px;
  line-height: 114px;
}
.inspiration_container .inspiration_image_container:nth-child(20) {
  height: 115px;
  line-height: 115px;
}
.inspiration_container .inspiration_image_container:nth-child(21) {
  height: 394px;
  line-height: 394px;
}
.inspiration_container .inspiration_image_container:nth-child(22) {
  height: 116px;
  line-height: 116px;
}
.inspiration_container .inspiration_image_container:nth-child(23) {
  height: 224px;
  line-height: 224px;
}
.inspiration_container .inspiration_image_container:nth-child(24) {
  height: 159px;
  line-height: 159px;
}
.inspiration_container .inspiration_image_container:nth-child(25) {
  height: 359px;
  line-height: 359px;
}

.inspiration_section {
  margin-bottom: 60px;
  padding: 0 30px;
}

.featured_inspiration_section .section_header, .featured_inspiration_section .featured_inspiration_footer {
  padding: 60px 0;
  text-align: center;
}
.featured_inspiration_section .featured_link {
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 30px;
}

.featured_inspiration_container {
  display: flex;
}
.featured_inspiration_container .featured_inspiration_image_container {
  flex: 1;
  margin-right: 15px;
  position: relative;
}
.featured_inspiration_container .featured_inspiration_image_container:after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.featured_inspiration_container .featured_inspiration_image_container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.featured_inspiration_container .featured_inspiration_image_container:last-child {
  margin-right: 0;
}

.about_image_section {
  padding: 90px 30px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.about_image_text {
  padding: 60px 0;
  text-align: center;
}

.about_image_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

.TestimonialList {
  padding: 60px 30px;
}
.TestimonialList .flickity-page-dots {
  display: block !important;
  margin-top: 100px !important;
}
.TestimonialList .Testimonial__Logo {
  margin-top: 0;
  margin-bottom: 30px;
}
.TestimonialList .Testimonial__Content {
  font-size: 17px !important;
}

.section_SplitBlock {
  padding: 90px 30px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.section_SplitBlock .FeatureText__ContentWrapper {
  padding: 30px !important;
  background: #ff9672;
  color: white;
  height: 100%;
  text-align: center;
}
.section_SplitBlock .FeatureText__ContentWrapper .FeatureText__Content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: unset;
  margin: unset;
}
.section_SplitBlock .split_title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Klar semibold";
}
.section_SplitBlock .split_description {
  margin-bottom: 30px;
}
.section_SplitBlock .split_link {
  margin: 0 auto;
  padding: 10px 10px;
  border: 1px solid white;
  width: 250px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Klar semibold";
}

.page-Press .PageHeader {
  margin: 60px auto !important;
  padding: 0 30px;
  width: 1300px;
  max-width: 100%;
}
.page-Press .SectionHeader__Heading {
  text-align: left;
}

.press_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 90px;
}

.press_image_dida {
  padding-top: 10px;
}
.press_image_dida .press_title h2 {
  font-size: 22px;
  margin-top: 10px;
}
.press_image_dida .press_title span {
  font-size: 16px;
}
.press_image_dida .press_info_container {
  margin-top: 20px;
  display: flex;
}
.press_image_dida .press_info_container .press_info {
  display: flex;
}
.press_image_dida .press_info_container .press_info strong {
  font-family: "Klar semibold";
  margin-right: 5px;
}