html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Klar semibold";
  src: url("KlarheitGrotesk-Semibold.woff2") format("woff2"), url("KlarheitGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Klar light";
  src: url("KlarheitGrotesk-Light.woff2") format("woff2"), url("KlarheitGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-weight: "Klar light";
  font-family: "Klar light";
}

h1, h2, h3, h4, h5 {
  font-family: "Klar light";
}

.custom_buttom {
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px 0;
  height: unset;
}

.Black_button {
  font-family: "Klar semibold";
  text-transform: uppercase;
  padding: 15px 30px;
  background: black;
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 14px;
  transition: none;
}
.Black_button:before {
  content: none !important;
}
.Black_button:hover {
  background: 0;
  color: black;
}

.RoundButton, .flickity-prev-next-button {
  background: 0;
  color: black;
  box-shadow: none;
}

.shopify-section--bordered > .Section--spacingNormal {
  padding: 0;
}

.Search__Input {
  font-size: 16px;
}

.PageOverlay {
  transition: all 0.3s ease-in-out !important;
  opacity: unset;
  background: rgba(0, 0, 0, 0);
}
.PageOverlay.is-visible {
  background: rgba(0, 0, 0, 0.5);
  opacity: unset;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .heading_big {
    font-family: "Klar semibold";
    font-size: 40px;
    line-height: 1.2;
  }
}
.HorizontalList__Item a, .features--heading-normal .u-h6, .features--heading-normal .Rte h6 {
  font-size: 16px;
}

.Header__Wrapper {
  padding: 30px !important;
}

.Header__LinkSpacer {
  display: none;
}

.dropdown_background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 400px;
  top: 85px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.HorizontalList__Item.is-expanded .dropdown_background {
  opacity: 1;
  visibility: visible;
}
.HorizontalList__Item.is-expanded .drop_plus {
  transform: rotate(90DEG);
}

.drop_plus {
  margin-left: 8px;
  position: absolute;
  padding-top: 3px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.DropdownMenu {
  background: 0;
  border: none;
  text-align: left;
}
.DropdownMenu:before {
  content: none;
}
.DropdownMenu .Linklist__Item {
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}
.DropdownMenu .Linklist__Item:before {
  content: none;
}
.DropdownMenu .Linklist__Item:hover, .DropdownMenu .Linklist__Item.active {
  opacity: 1;
}
.DropdownMenu .Link {
  padding: 0;
}

.Slideshow__Content .SectionHeader__Heading {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
}

.link_hero {
  color: white;
  text-transform: uppercase;
  background: 0;
  border: none;
  border-bottom: 1px solid white;
  padding: 3px 0;
  height: unset;
  text-transform: uppercase;
  font-size: 12px;
}

.Image--contrast::after {
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.35), rgba(54, 54, 54, 0.2));
}

.flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  border-width: 1px;
}

.ProductItem__Wrapper .ProductItem__Info.ProductItem__Info--left {
  display: flex;
  justify-content: space-between;
}
.ProductItem__Wrapper .ProductItem__Info.ProductItem__Info--left .ProductItem__PriceList {
  margin-left: 15px;
}

.ProductForm__AddToCart {
  font-family: "Klar semibold";
  text-transform: uppercase;
  padding: 15px 30px;
  background: black;
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 14px;
  transition: none;
}
.ProductForm__AddToCart:before {
  content: none;
}
.ProductForm__AddToCart:hover {
  background: black;
  color: white;
}

.section_header {
  padding: 30px;
  font-size: 16px;
}

.Cart .Drawer__Footer, .Cart__OffscreenNoteContainer {
  padding: 30px;
}

.Cart__Taxes {
  font-size: 12px;
  margin-bottom: 16px;
}

.ProductForm__QuantitySelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.ProductForm__QuantitySelector .QuantitySelector {
  border: none;
}

.page-Contatti main {
  min-height: 100vh;
}

.contact_container {
  padding: 30px;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.project_list {
  background: #F3F3F3;
}
.project_list .section_header {
  padding: 60px 30px;
}
.project_list .ArticleListWrapper {
  padding: 0 60px;
}
.project_list .ArticleItem__Content .ArticleItem__Title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.project_list .ArticleItem__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project_list .ArticleItem__Excerpt {
  text-align: center;
  line-height: 1.3;
}
.project_list .Link--underline {
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 30px;
}
.project_list .Link--underline:before {
  content: none;
}