.project_list{
  background: $grey;
  .section_header{
    padding: $gl*2 $gl;
  }
  .ArticleListWrapper{
    padding:0 $gl*2;
  }
  .ArticleItem__Content{
    .ArticleItem__Title{
      text-align: center;
      text-transform: uppercase;
      font-size: $ts;
      margin-top: $gl;
      margin-bottom: $gl;
    }
  }
  .ArticleItem__Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ArticleItem__Excerpt{
    text-align: center;
    line-height: 1.3;
  }
  .Link--underline{
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0;
    border-bottom:1px solid black;
    letter-spacing: 1px;
    font-size: $txs;
    margin-top: $gl;
    &:before{
      content: none;
    }
  }
}
