.project_list{
  background: $grey;
  .section_header{
    padding: $gl*2 $gl;
  }
  .ArticleListWrapper{
    padding:0 $gl*2;
    .ArticleList{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      margin-left: 0;
      .Grid__Cell{
        padding:0;
        width:100%;

      }
    }
  }
  .ArticleItem__Content{
    .ArticleItem__Title{
      text-align: center;
      text-transform: uppercase;
      font-size: $ts;
      margin-top: $gl;
      margin-bottom: $gl;
    }
  }
  .ArticleItem__Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ArticleItem__Excerpt{
    text-align: center;
    line-height: 1.3;
  }
  .Link--underline{
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0;
    border-bottom:1px solid black;
    letter-spacing: 1px;
    font-size: $txs;
    margin-top: $gl;
    &:before{
      content: none;
    }
  }
}



.ArticleList_archive{
  width:1200px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  .Grid__Cell{
    padding-left: 0;
  }
}

.ArticleListWrapper_archive{
  padding-bottom: $gl*3;
  .ArticleItem{
    position: relative;
    &:hover{
      .ArticleItem__Content{
        opacity: 1;
      }
    }
  }
  .ArticleItem__Title{
    font-family: 'Klar semibold';
    text-transform: uppercase;
  }
  .ArticleItem__Content{
    position: absolute;
    height: 100%;
    width:100%;
    background: rgba(255,255,255,0.5);
    margin: 0;
    flex-direction: column;
    @include center;
    top:0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
  }
}

.blog__footer{
  display: none;
}


@media screen and (max-width: 640px) {
  .project_list{
    .Container{
      padding: 0;
    }
    .ArticleItem__Content{
      margin: 0;
      .ArticleItem__Title{
        margin: $gm 0;
      }
      .Link--underline{
        margin-top: 0;
      }
    }
    .Grid{
      margin: 0;
    }
    .ArticleListWrapper{
      padding: 0;
      overflow-x: scroll;
      margin-bottom: 0;
      max-width:100%;
      .ArticleList{
        grid-column-gap: $gm;
        margin-bottom: 0;
        padding: 0 $gm;
        .Grid__Cell{
          width:70vw;
          &:last-child{
            margin-right: $gm;
          }
        }
      }
    }
  }
}
