.CloseOverlay{display: none;}

@media screen and (max-width: 640px) {
  .Drawer {
    width: 100%;
    background-color: $black;
    color: $white;

    a {
      color: $white;
    }

    .Text--subdued {
      color: $white;
    }
  }

  .CartItem__ImageWrapper {
    width: 50%;
  }

  .CloseOverlay {
    display: flex;
    height: 20px;
    width: 20px;
    margin: $gl*1.5 $gl;
  }
}



@media screen and (min-width: 641px) {
  .Drawer {
    width: 590px;
    background-color: $black;
    color: $white;

    a {
      color: $white;
    }

    .Text--subdued {
      color: $white;
    }
  }

  .CartItem__ImageWrapper {
    width: 200px;
  }
}

.PageOverlay.is-visible {
  opacity: 0.85;
}

.PageOverlay {
  background: $black;
}

.PageOverlay.is-visible:hover {
  cursor: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.4615 0L10 8.46192L1.53845 0.000647668L0 1.53905L8.46155 10.0003L0 18.4616L1.53845 20L10 11.5387L18.4615 20L20 18.4616L11.5384 10.0003L20 1.53905L18.4615 0.000647668V0Z' fill='white'/%3E%3C/svg%3E%0A"), auto;
}

.CartItem__Title {
  font-family: $sansB;
  text-transform: none!important;
  font-size: $ts;
}

.CartItem__Variant {
  font-family: $serif;
  font-size: $ts;
}

.CartItem__Remove {
  font-family: $serif;
  font-size: $ts;
  border-bottom: 1px solid;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.CartItem__QuantitySelector {
  width: 100%;
}

.CartItem {
  position: relative;

  .QuantitySelector {
    float: left;
    border: none;
  }

  .QuantitySelector__CurrentQuantity {
    font-family: $serif;
    font-size: $ts;
    border: 1px solid $white;
    width: 35px;
  }

  .QuantitySelector__Button {
    padding: 0;
    height: 15px;
  }
}

.CartItem__QuantityMarks {
  display: grid;
  line-height: 17px;
  margin-left: $gl;
}

.Drawer__Footer {
  display: inline-flex;
}

.Drawer__Footer_TotalText {
  font-family: $sansB;
  font-size: $ts;
}

.Drawer__Footer_TotalPrice {
  font-family: $serif;
  font-size: $ts;
}

.Drawer__Footer_Total {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.CartItem__PriceList {
  position: absolute;
  bottom: 30px;
}

.Cart {
  .Button--primary {
    border-color: $white;
    width: 50%;
    color: $white;
    background: $black;
    font-family: $serif;
    font-size: $ts;
    letter-spacing: 0;
  }

  .Button--primary::before {
    background: $black;
  }
  .Drawer__Container{
    padding-left: $gl;
    padding-right: $gl;
  }
}
