.CollectionInner {
    margin-top: $gl*5;
}
.ProductItem__Label {
    @include hs;
    text-transform: uppercase !important;
    letter-spacing: 0.2em !important;
}
/*
.ProductItem__ImageWrapper{
  .AspectRatio {
    --aspect-ratio: 0.7;
  }
  .AspectRatio>img {
    height: auto;
    min-height: 100%;
    object-fit: cover;
  }
}
*/
