.about_image_section{
  padding: $gl*3 $gl;
  width:1200px;
  max-width: 100%;
  margin: 0 auto;
}
.about_image_text{
  padding: $gl*2 0;
  text-align:center;
}
.about_image_row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $gl/2;
}



.TestimonialList{
  padding: $gl*2 $gl;
  .flickity-page-dots{
    display: block !important;
    margin-top: 100px !important;
  }
  .Testimonial__Logo{
    margin-top: 0;
    margin-bottom: $gl;
  }
  .Testimonial__Content{
    font-size: $tm !important;
  }
}



.section_SplitBlock{
  padding: $gl*3 $gl;
  width:1200px;
  max-width: 100%;
  margin: 0 auto;
  .FeatureText__ContentWrapper{
    padding: $gl !important;
    background: #ff9672;
    color:white;
    height: 100%;
    text-align: center;
    .FeatureText__Content{
      height: 100%;
      width:100%;
      @include center;
      max-width: unset;
      margin: unset;
    }
  }
  .split_title{
    text-transform: uppercase;
    margin-bottom: $gl;
    font-family: 'Klar semibold';
  }
  .split_description{
    margin-bottom: $gl;
  }
  .split_link{
    margin: 0 auto;
    padding: 10px 10px;
    border:1px solid white;
    width:250px;
    max-width: 100%;
    @include center;
    font-family: 'Klar semibold';
  }
}


.page-Press{
  .PageHeader{
    margin: $gl*2 auto !important;
    padding: 0 $gl;
    width:1300px;
    max-width: 100%;
  }
  .SectionHeader__Heading{
    text-align: left;
  }
}
.press_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $gl;
  grid-row-gap: $gl;
  padding-bottom: $gl*3;
}
.press_image_dida{
  padding-top: 10px;
  .press_title{
    h2{
      font-size: 22px;
      margin-top: 10px;
    }
    span{
      font-size: 16px;
    }
  }
  .press_info_container{
    margin-top: 20px;
    display: flex;
    .press_info{
      display: flex;
      strong{font-family: 'Klar semibold'; margin-right: 5px;}
    }
  }
}

.ImageHero__ContentOverlay{text-shadow: none;}


.section_color_split{
  padding: $gl*3 $gl;
  width:1200px;
  max-width: 100%;
  margin: 0 auto;

  .ImageHero{
    width:50%;
  }
  .ImageHero__Wrapper{
    width:50%;
    .ImageHero__Block{
      box-shadow: none;
      @include center;
      flex-direction: column;
      text-align: center;
      width:100%;
      height: 100%;
      max-width: unset;
      margin-top: 0;
      padding: $gl;
      .ImageHero__BlockContent{
        width: 400px;
        max-width: 100%;
      }
    }
  }
}
