.about_image_section{
  padding: $gl*3 $gl;
  width:1200px;
  max-width: 100%;
  margin: 0 auto;
}
.about_image_text{
  padding: $gl*2 0;
  text-align:center;
}
.about_image_row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $gl/2;
  .about_image_wrapper{
    background: $grey;
    position: relative;
    padding-bottom: 100%;
    img{
      position: absolute;
      object-fit: cover;
      height: 100%;
      width:100%;
    }
  }
}



.TestimonialList{
  padding: $gl*2 $gl;
  .flickity-page-dots{
    display: block !important;
    margin-top: 100px !important;
  }
  .Testimonial__Logo{
    margin-top: 0;
    margin-bottom: $gl;
  }
  .Testimonial__Content{
    font-size: $tm !important;
  }
}



.section_SplitBlock{
  padding: $gl*3 $gl;
  width:1200px;
  max-width: 100%;
  margin: 0 auto;
  .FeatureText__ContentWrapper{
    padding: $gl !important;
    background: #ff9672;
    color:white;
    height: 100%;
    text-align: center;
    .FeatureText__Content{
      height: 100%;
      width:100%;
      @include center;
      max-width: unset;
      margin: unset;
    }
  }
  .AspectRatio{
    background: $grey;
  }
  .split_title{
    text-transform: uppercase;
    margin-bottom: $gl;
    font-family: 'Klar semibold';
  }
  .split_description{
    margin-bottom: $gl;
  }
  .split_link{
    margin: 0 auto;
    padding: 10px 10px;
    border:1px solid white;
    width:250px;
    max-width: 100%;
    @include center;
    font-family: 'Klar semibold';
  }
}


.top_pattern{
  background-size: contain;
  width:100%;
  &.pattern_press{
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' fill='%23DFEFEE'/%3E%3Cpath d='M40 40L80 1V80L40 40Z' fill='%23B5C4AD'/%3E%3Cpath d='M40 40L0 1V80L40 40Z' fill='%23B6DEDE'/%3E%3C/svg%3E%0A");
    height: 30px;
  }
  &.pattern_projects{
    background-image: url("data:image/svg+xml,%3Csvg width='156' height='84' viewBox='0 0 156 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='156' height='84' fill='%23506786'/%3E%3Cellipse cx='78' cy='51.5' rx='63' ry='29.5' fill='%236683A3'/%3E%3Ccircle cx='78' cy='51' r='28' fill='%23161614'/%3E%3C/svg%3E%0A");
    height: 30px;
  }
}

.page-Press{
  .PageHeader{
    margin: $gl*2 auto !important;
    padding: 0 $gl;
    width:1200px;
    max-width: 100%;
  }
  .SectionHeader__Heading{
    text-align: left;
  }
}
.press_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $gl;
  grid-row-gap: $gl;
  padding-bottom: $gl*3;
  .press_image{
    width:100%;
  }
  .press_image_wrapper{
    background: $grey;
    position: relative;
    padding-bottom: 100%;
    img{
      position: absolute;
      object-fit: cover;
      width:100%;
      height: 100%;
    }
  }
}
.press_image_dida{
  padding-top: 10px;
  .press_title{
    h2{
      font-size: $tm;
      margin-top: 10px;
    }
    span{
      font-size: 14px;
    }
  }
  .press_info_container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .press_info{
      display: flex;
      font-size: 14px;
      strong{font-family: 'Klar semibold'; margin-right: 5px;}
    }
  }
}

// image hero
.ImageHero__ContentOverlay{text-shadow: none;}
.pattern_hero{
  position: absolute;
  width:100%;
  height: 15px;
  z-index: 2;
}
.pattern_bottom{
  bottom:0;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0164022 8H14.9836C14.9945 7.83474 15 7.66801 15 7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5C0 7.66801 0.00552464 7.83474 0.0164022 8Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
}
.pattern_top{
  top:0;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9836 1.43393e-09L0.0164015 1.30991e-06C0.00552395 0.165263 -6.70359e-07 0.331987 -6.55671e-07 0.500001C-2.93554e-07 4.64214 3.35786 8 7.5 8C11.6421 8 15 4.64214 15 0.5C15 0.331986 14.9945 0.165262 14.9836 1.43393e-09Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
}


// cornice slideshow

  .cornice_slideshow_container{
    width:80%;
    height: 80%;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 10%;
    top:10%;
    z-index: 2;
    pointer-events: none;
  }
  .cornice_slideshow_wrapper{
    position: relative;
    width:100%;
    height: 100%;
  }
  .cornice_slideshow_top{
    position:  absolute;
    background: #F7E1D1;
    width:100%;
    top:0;
    left: 0;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L0 0H8L12 5L8 10H0L4 5Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: contain;
  }
  .cornice_slideshow_right{
    position:  absolute;
    background: #F7E1D1;
    width:10px;
    top:0;
    right: 0;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 4L10 0L10 8L5 12L-3.49691e-07 8L0 -4.37114e-07L5 4Z' fill='black'/%3E%3C/svg%3E ");
    background-size: contain;
  }
  .cornice_slideshow_bottom{
    position:  absolute;
    background: #F7E1D1;
    width:100%;
    bottom:0;
    left: 0;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5L16 10L8 10L4 5L8 -6.99382e-07L16 0L12 5Z' fill='black'/%3E%3C/svg%3E ");
    background-size: contain;
  }
  .cornice_slideshow_left{
    position:  absolute;
    background: #F7E1D1;
    width:10px;
    top:0;
    left: 0;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12L0 16L-3.49691e-07 8L5 4L10 8L10 16L5 12Z' fill='black'/%3E%3C/svg%3E ");
    background-size: contain;
  }



// split
.section_color_split{
  padding: $gl*3 $gl;
  width:1200px;
  max-width: 100%;
  margin: 0 auto;

  .ImageHero{
    width:50%;
  }
  .ImageHero__Wrapper{
    width:50%;
    .ImageHero__Block{
      box-shadow: none;
      @include center;
      flex-direction: column;
      text-align: center;
      width:100%;
      height: 100%;
      max-width: unset;
      margin-top: 0;
      padding: $gl;
      .ImageHero__BlockContent{
        width: 400px;
        max-width: 100%;
      }
    }
  }
}

// featured press


.featured_press_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $gl;
  padding: $gl*3 $gl;
}
.press_dida{
  h3{
    font-size: $tm;
  }
  font-size: 14px;
  .dida_bottom{
    margin-top: $gl/2;
  }
  p{
    font-family: $sansB;
  }
}

.featured_press_footer{
  text-align: center;
  padding: 0 $gl;
  text-align: center;
}

.featured_link{
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 30px;
}

.featured_press_image{
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}



@media screen and (max-width: 640px) {


  .cornice_slideshow_container{
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
  }

  .about_image_section{
    padding: $gm $gm;
  }

  .about_image_text{
    padding: $gm*3 0;
  }

  .TestimonialList{
    padding: $gl*2 $gm;
    .Container{
      padding: 0;
    }
  }

  .featured_press_section{
    padding: $gl*2 0;
  }

  .featured_press_container{
    padding:  0;
    overflow-x: scroll;
    flex-wrap: nowrap;
    grid-column-gap: $gm;
    padding: 0 $gm;
    padding-bottom: $gl*2;
    .featured_press_card{
      width:70vw;
      min-width: 70vw;
    }
  }

  .section_SplitBlock{
    padding: $gl*2 $gm;
    .FeatureText--imageLeft{
      flex-direction: column;
    }
  }

  .section_SplitBlock .FeatureText__ContentWrapper{
    padding: $gl $gm !important;
  }

  .press_container{
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    padding: 0 $gm;
    padding-bottom: $gl*2;
  }

  .page-Press .PageHeader{
    margin: $gl 0 !important;
    padding: 0 $gm;
    .SectionHeader__Heading{
      text-align: center;
      font-size: $hlm;
    }
  }

}
