.section_header{
  padding: $gl;
  font-size: $ts;
  text-align: center;
}

.collectionListCarousel{
  max-width: 100%;
  margin: 50px auto;
  margin-top: 0;
  padding-top: 0;
  .flickity-page-dots .dot{
    border:1px solid black;
  }
  .flickity-page-dots .dot.is-selected{
    background: black;
  }

  .CollectionItem__Wrapper{
    height: 30vw;
  }
}

.CollectionItem__Content{
  position: unset;
}

.CollectionItem{
  width:25%;
  margin: 0 20px;
}
