.ProductList--grid {
  padding: 0 $gl;
}

.section_custom {
  padding-top: $gl;
  padding-bottom: $gl*2;
}

.section_header {
  margin-bottom: $gl;
}

.product_title {
  @include ts($sansB);
}

.product_price {
  @include ts($serif);
}

.ProductList--removeMargin {
  margin-bottom: 0 !important;
}

.ProductList--carousel {
  margin: 0 10px;

  .flickity-prev-next-button {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .FeaturedCollection__Desktop {
    display: none;
  }

  .FeaturedCollection__Mobile {
    .ProductList--grid > .Grid__Cell {
      padding-left: $gl;
      margin-bottom: 0;
    }

    .ProductList {
      padding: 0;
      margin: 0;
    }

    .Grid__Cell {
      padding: 0 0 0 $gl;
      width: 80%;
    }
  }
}

@media screen and (min-width: 641px) {
  .FeaturedCollection__Mobile {
    display: none;
  }

  .FeaturedCollection {
    .ProductItem__ImageWrapper {
      .AspectRatio {
        --aspect-ratio: 1 !important;
        min-height: 100%;
        min-width: 100%;
      }

      .AspectRatio > img {
        height: auto;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}
