@font-face {
  font-family: "Futura-Medium";
  src: url("FuturaStd-Medium.woff") format("woff"), url("FuturaStd-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Bold";
  src: url("FuturaStd-Bold.woff") format("woff"), url("FuturaStd-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GTA";
  src: url("GTAlpina-Regular.woff") format("woff"), url("GTAlpina-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}