@font-face {
    font-family: 'Klar semibold';
    src: url('KlarheitGrotesk-Semibold.woff2') format('woff2'),
        url('KlarheitGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Klar light';
    src: url('KlarheitGrotesk-Light.woff2') format('woff2'),
        url('KlarheitGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
