*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-weight: $sansL;
}

.desktop{
  display: block;
}
.mobile{
  display: none;
}
@media screen and (max-width: 640px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }

  .heading_big{
    @include m__hl;
  }
}
