*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-weight: $sansL;
  font-family: $sansL;
}

h1, h2, h3, h4, h5{
  font-family: $sansL;
}


.custom_buttom{
  text-transform: uppercase;
  font-size: 12px;
  border:none;
  border-bottom:1px solid black;
  padding: 3px 0;
  height: unset;
}


.RoundButton, .flickity-prev-next-button{
  background: 0;
  color:black;
  box-shadow: none;
}

.shopify-section--bordered > .Section--spacingNormal{
  padding: 0;
}


.Search__Input{
  font-size: $ts;
}
.PageOverlay{
  transition: all 0.3s ease-in-out !important;
}

.desktop{
  display: block;
}
.mobile{
  display: none;
}

@media screen and (max-width: 640px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }

  .heading_big{
    @include m__hl;
  }
}
