*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-weight: $sansL;
  font-family: $sansL;
  font-size: $tm;
  line-height: 1.5;
}

h1, h2, h3, h4, h5{
  font-family: $sansL;
}

.Button, .shopify-payment-button__button--unbranded, input.spr-button-primary, .spr-summary-actions-newreview, .spr-button-primary:not(input), .spr-pagination-prev > a, .spr-pagination-next > a{letter-spacing: normal; font-weight: normal;}


.SectionHeader__Heading{
  font-size: 35px !important;
  font-family: "Klar semibold";
}

.custom_buttom{
  text-transform: uppercase;
  font-size: 12px;
  border:none;
  border-bottom:1px solid black;
  padding: 3px 0;
  height: unset;
}

.White_button{
  font-family: "Klar semibold";
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px solid white;
    background: 0;
    color: white;
    font-weight: normal;
    font-size: 14px;
    transition: none;
    &:before{
      content: none !important;
    }
    &:hover{
      background: white;
      color:black;
    }
}

.Black_button{
  font-family: "Klar semibold";
    text-transform: uppercase;
    padding: 15px 30px;
    background: black;
    border: 1px solid black;
    background: black;
    color: white;
    font-size: 14px;
    transition: none;
    &:before{
      content: none !important;
    }
    &:hover{
      background: 0;
      color:black;
    }
}

.EmptyState__Action{
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1;
}

.RoundButton, .flickity-prev-next-button{
  background: 0;
  color:black;
  box-shadow: none;
}

.shopify-section--bordered > .Section--spacingNormal{
  padding: 0;
}


.Search__Input{
  font-size: $ts;
}
.PageOverlay{
  transition: all 0.3s ease-in-out !important;
  opacity: unset;
  background: rgba(0, 0, 0, 0);
  &.is-visible{
    background: rgba(0, 0, 0, 0.5);
    opacity: unset;
  }
}

.section_container{
  width:1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 $gl;
}

.desktop{
  display: block;
}
.mobile{
  display: none;
}

@media screen and (max-width: 640px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }

  .heading_big{
    @include m__hl;
  }
}
