.HorizontalList__Item a, .features--heading-normal .u-h6, .features--heading-normal .Rte h6{
  font-size: $ts;
}

.Header__Wrapper{
  padding: $gl !important;
}

.Header__LinkSpacer{
  display: none;
}
