.features--heading-normal .u-h6, .features--heading-normal .Rte h6{
  font-size: $tm;
}

.Header__MainNav .HorizontalList__Item a{
  font-size: $ts;
}

.Header__Wrapper{
  padding: $gl !important;
  height: var(--header-height);
}

.Header__LinkSpacer{
  display: none;
}

.Header__FlexItem--fill{
  justify-content: center;
  .HorizontalList__Item{
    margin: 6px 30px;
  }
}


.Header__Icon .Icon--search-desktop{
  width:18px;
}
.Header__Icon .Icon--cart-desktop{
  width:20px;
  height: 20px;
}
.Header__Icon + .Header__Icon{
  margin-left: 20px;
}

.Search__Inner{
  padding: $gl;
}


.dropdown_background{
  position: absolute;
  left: 0;
  width:100%;
  height: 400px;
  top:85px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.HorizontalList__Item{
  &.is-expanded{
    .dropdown_background{
      opacity: 1;
      visibility: visible;
    }
    .drop_plus{
      transform: rotate(90DEG);
    }
  }
}
.drop_plus{
  margin-left: 8px;
  position: absolute;
  padding-top: 3px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.DropdownMenu{
  background: 0;
  border:none;
  text-align: left;
  &:before{
    content: none;
  }
  .Linklist__Item{
    &:before{
      content: none;
    }
    opacity: .2;
    transition: all 0.3s ease-in-out;
    &:hover, &.active{
      opacity: 1;
    }
  }
  .Link{
    padding: 0;
  }
}



@media (min-width: 1008px) and (max-width: 1139px) {
  .hidden-between{
    display: none;
  }
}


@media screen and (min-width: 641px){
  .Drawer--fromLeft .Drawer__Container, .Drawer--fromRight .Drawer__Container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Drawer__Close{
    left: 20px;
  }
  .Collapsible{
    border-bottom: 0;
  }
  .Collapsible .Collapsible{
    margin-left: 0;
  }
}


@media screen and (max-width: 640px){
  .Header__Wrapper{
    padding: 20px $gm !important;
  }
  .Header__LogoLink .Header__LogoImage{
    max-width: 150px;
  }

  .Drawer--fromLeft{
    transform: translateX(-100vw);
  }
  .SidebarMenu{
    width:100vw;
    .SidebarMenu__Nav{
      width: fit-content;
    }
    .Drawer__Container{
      padding: 0 $gm;
      margin-top: $gl;
    }
    .Drawer__Header{
      padding: 20px $gm;
      min-height: unset;
    }
    .Collapsible__Button{
      padding: $gm 0;
    }
    .Collapsible{
      border: none;
      margin-left: 0;
      .Text--subdued {
        padding: 5px 0;
        font-size: $ts;
      }
    }
  }

}
