#shopify-section-header{
  pointer-events: none;
  position: fixed;
  mix-blend-mode: difference;
}
#section-header{
  width: 100%;
  height: 100vh;
}

.header_wrapper{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_top_row{
  padding: $gl;
  display: flex;
  justify-content: space-between;
}
.header_bottom_row{
  padding: $gl;
  display: flex;
  justify-content: space-between;
}

.header_link{
  @include hs;
  pointer-events: all;
  color:white;
}
 .separator{
  color:white;
  margin-right: $gs;
}
.header_bottom_left{
  display: flex;
}

.logo_header{
  img{
    width: 120px;
  }
}

.Drawer--fromLeft{
  transform: translateX(-100vw);
}
.Drawer--fromRight{
  transform: translateX(100vw);
}
#sidebar-menu{
  background: $red;
  color: black;
  .Drawer--fromLeft .Drawer__Container{
    padding: 0 $gl;
  }
  .Collapsible{
    border:none;
    a{
      font-family: "Futura-Bold";
      font-size: 25px;
    }
  }
  .Drawer__Main{
    display: flex;
    align-items: center;
  }
  .Drawer__Header{
    position: absolute;
  }
  .Drawer__Content{
    max-height: unset;
    height: 100vh;
  }
}



.SidebarMenu .Heading, .supports-hover .SidebarMenu .Link--primary:hover{
  color:black;
  border:none;
  text-align:center;
}
.SidebarMenu .Drawer__Content::before{
  background: 0;
}

@media screen and (max-width: 640px) {
  #shopify-section-header{
    pointer-events: all;
  }
  #section-header{
    height: auto;
  }
  .header_top_row{
    align-items: center;
    .header_link, .Header__Icon{
      width:33.33%;
      &:last-child{
        text-align: right;
      }
    }
  }
}
