
.Slideshow__Content .SectionHeader__Heading{
  text-transform: uppercase;
  font-size: $tl;
  margin-bottom: $gl;
}

.link_hero{
  color:white;
  text-transform: uppercase;
  background: 0;
  border:none;
  border-bottom:1px solid white;
  padding: 3px 0;
  height: unset;
  text-transform: uppercase;
  font-size: $txs;
}
