
.Slideshow__Content .SectionHeader__Heading{
  text-transform: uppercase;
  font-size: $tl;
  margin-bottom: $gl;
}

.link_hero{
  color:white;
  text-transform: uppercase;
  background: 0;
  border:none;
  border-bottom:1px solid white;
  padding: 3px 0;
  height: unset;
  text-transform: uppercase;
  font-size: $txs;
}

.Image--contrast::after{
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.35), rgba(54, 54, 54, 0.2))
}


.flickity-page-dots .dot{
  width:16px;
  height: 16px;
  border-width: 1px;
}

.Slideshow{
  .flickity-page-dots{
    width:100%;
    left: 0;
    bottom: 20%;
  }
}

@media screen and (max-width: 640px) {
  .Slideshow{
    .flickity-page-dots{
      bottom: 15%;
    }
  }
}
