.ProductItem__Wrapper{
  .ProductItem__Info.ProductItem__Info--left{
    display: flex;
    justify-content: center;
    .ProductItem__PriceList{
      .price_spacing{
        margin: 0 5px;
      }
    }
  }
}

.ProductItem__Label{border: 1px solid black; font-size: 12px;line-height: 1; padding: 5px 10px;}

.ProductMeta__Title{
  font-family: 'Klar semibold';
  font-size: $hl !important;
}

.ProductForm__AddToCart{
  font-family: 'Klar semibold';
  text-transform: uppercase;
  padding: $gl/2 $gl;
  background: black;
  border:1px solid black;
  background: white;
  color:black;
  font-size: 14px;
  transition: none;
  &:before{
    content: none;
  }
  &:hover{
    background: black;
    color:white;
  }
}
.product_collection{
  font-size: $ts;
}
.ProductForm__Variants label{
  font-size: $ts;
}
.ProductMeta__Price{font-size: $ts !important;}
.ProductMeta__Description{
  .Rte{
    font-size: $ts;
  }
}
.ProductForm__Label{font-size: $ts;}
.ProductForm__BuyButtons button{
  font-family: $sansL;
}

.QuantitySelector--large .QuantitySelector__CurrentQuantity{
  font-size: $ts;
}
.QuantitySelector{
  button, input{
    font-size: $ts;
  }
}

.RoundButton, .flickity-prev-next-button{
  background: #f0f0f0;
}
.RoundButton:not([aria-expanded=true]):hover{
  color:black;
}


// recently viewed
.recent_prod_section{
  margin: 150px auto 90px;
  .SectionHeader{
    margin: 60px auto !important;
    padding: 0 30px;
    width: 1200px;
    max-width: 100%;
  }
}
