.ProductItem__Vendor {
  height: 40px;
  display: flex;

  .redmilk_product_logo {
    width: 35%;
    max-width: 120px;
  }

  .redduo_product_logo {
    width: 50%;
    max-width: 160px;
  }
}

.ProductMeta__Vendor {
  .redmilk_product_logo {
    max-width: 120px;
  }

  .redduo_product_logo {
    max-width: 220px;
  }
}

.ProductMeta {
  margin: 0;
}

.ProductMeta__Title {
  font-family: $sansB;
  font-size: $ts;
}

.ProductMeta__Price {
  font-family: $serif;
  font-size: $ts;
}

.ProductMeta__Description {
  font-family: $serif;
  font-size: $ts;
  margin: 0;
}

.Product__InfoLinks {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;

  a {
    border-bottom: 1px solid $black;
  }
}

.Product__Wrapper {
  .Button {
    font-family: $serif;
    font-size: $ts;
    letter-spacing: 0;
  }
}

.ProductForm__Option {
  width: 66.66%;
}

.pswp--visible {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.pswp__bg {
  background: none;
}
@media screen and (max-width: 640px) {
  .Product__Wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: $gl*5;

    .Product__SlideItem {
      padding: 0 $gl;
    }

    .Product__ActionList {
      top: 45px;
      right: 50px;
    }

    .ProductMeta__Description {
      padding-right: $gl*3;
    }

    .Product__InfoLinks {
      padding-right: $gl*3;
    }

    .ProductForm__BuyButtons {
      width: 60%;
    }

    .RoundButton {
      background: none;
      width: 58px;
      height: 58px;
      box-shadow: none;
      color: $white;

      svg {
        width: 58px;
        height: 58px;
      }
    }
  }
}

.product_back_link {
  padding-left: $gl;
  margin-bottom: $gl*2;
  @include hs;
  letter-spacing: 2px;
  a{
    display: flex;
    flex-direction: column;
    svg{margin-top: $gs;}
  }
}



@media screen and (min-width: 641px) {
  .Product {
    margin: $gl*5 0 0;
    max-width: none;
  }

  .Product__Wrapper {
    max-width: 100%;
    padding: 0 $gl;
    display: flex;
    margin-bottom: $gl*5;
  }

  .Product__InfoWrapper {
    position: relative;
    display: flex;
    width: 25%;
  }

  .Product__Info {
    margin: 0;
  }

  .Product__Gallery_Wrapper {
    width: 75%;
  }

  .Product__Slideshow {
    width: 50vw;
    margin: 0;
  }

  .Product__Gallery {
    margin: 0;
    padding-left: $gl;
  }

  .Product__Slideshow {
    display: inline-block;
  }

  .Product__SlideshowNav {
    display: inline-block!important;
    margin: 0!important !important;
    width: calc(25vw - 50px);
    position: absolute;
  }

  .Product__SlideshowNav--thumbnails{
    top:0;
    right:0;
    margin-top: 0 !important;
    a{
      margin: 0 10px !important;
    }
  }

  .Product__SlideshowNavImage {
    border: none;
    margin: 0 0 0 $gl!important !important;
    width: calc(33% - 20px)!important;
  }

  .Product__SlideshowNavScroller {
    text-align: left;
  }

  .ProductForm__BuyButtons {
    width: 66.66%;
  }

  .Product__Slideshow--zoomable .Product__SlideItem--image,
  .pswp--zoom-allowed .pswp__img {
    cursor: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.1541 28.171L29.846 28.1713L29.8458 18.8479L28.1535 18.8479L28.1537 28.1712L18.8458 28.1711L18.8459 29.8662L28.1537 29.8664L28.1538 39.1897L29.8461 39.1897L29.846 29.8664L39.1538 29.8665L39.1538 28.1714L39.1541 28.171Z' fill='black'/%3E%3Ccircle cx='29' cy='29' r='28' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") 28 28, auto;
  }

  .Product__Related {
    .Container {
      text-align: left;
      padding: 0 0 0 $gl;
    }

    .Heading {
      font-family: $sansB;
    }

    .ProductList--carousel {
      margin: 0 20px;
    }

    .Carousel__Cell {
      display: grid;
      column-count: 4;
      padding-left: 0;
      padding-right: $gl;
    }

    .SectionHeader {
      margin-bottom: $gl;
    }
  }

  .ProductRecommendations {
    .AspectRatio {
      max-width: 100%!important;
    }
  }
}

.Price--compareAt::before {
  top: 42%;
}

section.Product {
  min-height: 100vh;
}

.pswp--animated-in .pswp__ui {
  transform: none !important;
}

.pswp__ui {
  height: 100%;
  width: 100%;
  bottom: unset;
  top: 0;
  text-align: unset;

  svg {
    width: 22px;
    height: 22px;
  }

  .pswp__button--prev {
    bottom: 20px;
    right: 80px;
    position: absolute;
    background: 0;
    color: black;
    transform: none !important;
    box-shadow: none;

    &:hover {
      color: black;
    }
  }

  .pswp__button--next {
    bottom: 20px;
    right: 20px;
    position: absolute;
    background: 0;
    color: black;
    transform: none !important;
    box-shadow: none;

    &:hover {
      color: black;
    }
  }

  .pswp__button--close {
    position: absolute;
    top: 20px;
    left: 20px;
    height: auto;
    width: auto;
    margin: 0;
    box-shadow: none;
    background: 0;
    color: black;
    transform: none !important;

    &:hover {
      color: black;
    }
  }

  .pswp__button[disabled] {
    opacity: 0.5;
  }
}
