.ProductItem__Wrapper{
  .ProductItem__Info.ProductItem__Info--left{
    display: flex;
    justify-content: space-between;
    .ProductItem__PriceList{
      margin-left: $gl/2;
    }
  }
}

.ProductMeta__Title{
  font-family: 'Klar semibold';
  font-size: $hl !important;
}

.ProductForm__AddToCart{
  font-family: 'Klar semibold';
  text-transform: uppercase;
  padding: $gl/2 $gl;
  background: black;
  border:1px solid black;
  background: white;
  color:black;
  font-size: 14px;
  transition: none;
  &:before{
    content: none;
  }
  &:hover{
    background: black;
    color:white;
  }
}

// .Product__Gallery{
//   display: flex;
//   flex-direction: row-reverse;
// }
