// titoli
$hs: 12px;
$hm: 20px;
$hl: 60px;

// titoli mobile
$m__hl: 40px;

// testo
$ts: 15px;
$tm: 18px;

// color
$red: #FF224A;
$black: #000;
$white: #FFF;
$grey: #F3F3F3;

// gutter
$gs: 3px;
$gl: 30px;

$sansB: "Klar semibold";
$sansL: "Klar light";
