// titoli
$hs: 12px;
$hm: 20px;
$hl: 30px;



// titoli mobile
$m__hl: 40px;

// testo
$txs: 14px;
$ts: 16px;
$tm: 18px;

$tl: 24px;

// color
$red: #FF224A;
$black: #000;
$white: #FFF;
$grey: #F3F3F3;

// gutter
$gs: 3px;
$gl: 30px;

$gm: 15px;

$sansB: "Klar semibold";
$sansL: "Klar light";
